{% extends 'base.html.twig' %}

{% block title 'liste des mémoires' %}

{% block body %}
	<h1>Liste des mémoires</h1>

	{% for memoire in memoires %}

		<h2>
			<a href="{{path('memoire_show', {id: memoire.id})}}">{{ memoire.title }}</a>
		</h2>

		<p>
			{{ memoire.description }}
		</p>

		<a href="{{ path("memoire_edit",  {id: memoire.id}) }}">Editer</a> |

		<form action="{{ path('memoire_delete', {id: memoire.id}) }}"
			method="POST" style="display: inline-block;">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ memoire.id) }}">
			<button>Supprimer</button>
		</form>
		
		<hr>
		
	{% endfor %}

		<div class="navigation" style="margin-bottom: 20px;">
			{{ knp_pagination_render(memoires) }}
		</div>
{% endblock %}