{% extends "base.html.twig" %}


{% block title 'Voir le mémoire' %}

{% block body %}
    <h2>
        {{ memoire.title }}
    </h2>
    <h4>Categories:</h4>
    {% for category in memoire.categories %}
        <em>{{ category.name }}</em> |
    {% endfor %}

    <p>
        {{ memoire.description }}
    </p>

    <p>
        Format : {{ memoire.format }}
    </p>

    <a href="{{ path("memoire_edit",  {slug: memoire.slug}) }}">Editer</a>

    <form action="{{ path('memoire_delete', {slug: memoire.slug}) }}"
        method="POST" style="display: inline-block;">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ memoire.slug) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form> 
    
{% endblock %}